{% load static %}

<!DOCTYPE html>
<head>
  <title>My Snacks</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<nav>
  <ul>
    <li><a href="{% url 'list_view' %}">Home</a></li>
  </ul>
</nav>
<body>
  <header>
    <a href="{% url 'create_view' %}">New Snack</a>
    <a href="{% url 'list_view' %}">List of Snacks</a>
  </header>
  <main>
    {% block content %}
        <h2>Someone forgot to put content</h2>
    {% endblock content %}
  </main>
  <footer>

  </footer>
</body>